html {
  font-size: 18px;
}
header {
  background-color: black;
}


.headercontainer {
  max-width: 960px;
  margin: 0 auto;
  height: 2.32rem;
}

header img {
  display: inline-block;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right:0.5rem;
  padding-top: 0.66rem;

}
header h3 {
  display: inline-block;
  position: relative;
  bottom: 0.5rem;
  padding-bottom: 0.66rem;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  margin-left:0.5rem;
}



.newarrival {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  margin: 0 auto;


}

.fontbox {
  position: relative;
  max-width: 960px;
  top: 9rem;
  margin-left: auto;
  margin-right: auto;
}

.arrivalfont {
  display: block;
  width: 20rem;
  background-color: black;
}

.arrivalfont h2 {
  padding-top: 0.25rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.arrivalfont h3 {
  padding-top: 2rem;
  padding-left: 3rem;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.nav {
  background-color: firebrick;
}

.smallerscreen {
    display: none;
}

nav {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-between;
}

nav span {
  display: flex;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.productcontainer {
  max-width: 960px;
  margin: 0 auto;
}
.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.productpen, .productwatch, .productglasses {
  width: 30%;
  border: 4px solid black;
  min-width: 0;
}

.productimage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
}

.productpen img, .productwatch img, .productglasses img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 8rem;
}

.productpen h3, .productwatch h3, .productglasses h3{
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: Helvetica;
  font-size: 1rem;
}


.timeandplace {
  max-width: 960px;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.timeplacechild {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}
.hours, .location {
  width: 35%;
}



.location h3 {
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Helvetica;
  font-size: 1rem;
}

.hours h3 {
  background-color: black;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Helvetica;
  font-size: 1rem;
}

footer {
  display: flex;
  height: 5rem;
  width: 100%;
  margin: 4rem 0 0 0;
  background-color: black;
}

.footercontainer {
  display: flex;
  align-items: center;
  width: 960px;
  margin: 0 auto;

}

footer p {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
}

@media only screen and (max-width: 1024px) {

  header img {
    height: 1.25rem;
  }

  header h3 {
    font-size: 0.8rem;
  }

  nav {
    display: none;
  }

  .smallerscreen {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .productglasses {
    display: none;
  }

  .productpen, .productwatch {
    width: 47%;
  }
}

@media only screen and (max-width: 470px) {

  .newarrival {
    height: 15rem;
  }

  .fontbox {
  top: 10rem;
  }

  .arrivalfont h2 {
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }

  .arrivalfont h3 {
    font-size: 0.77rem;
    padding-top: 1rem;
    padding-left: 2rem;
  }

  .products {
    justify-content: center;
  }

  .productwatch {
    display: none;
  }

  .productpen {
    width: 90%;
  }

  .timeplacechild {
    flex-direction: column;
  }

  .hours, .location {
    width: 90%;
  }

  .location {
    margin-bottom: 0.5rem;
  }

  .footercontainer {
    justify-content: center;
  }
}
